@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Playpen+Sans:wght@200;500&display=swap');
body {
  margin: 0;
  font-family: 'Autour One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
